body{
    margin: 0;
}
* {
    box-sizing: border-box;
}
.container {
     background-color: aquamarine;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

form {
    width: 400px;
    background-color: blue;
     padding: 30px;
    }
    form > h1 {
     margin-bottom: 10px;
     color: rgb(165, 173, 47);
    }
input {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 0 20px;
}